html {
  overflow: hidden;
}

body {
  background-color: rgb(236, 236, 236);
  margin: 0;
  height: 100vh;
}

.hide-cont {
  display: none;
}

#dis-cont {
  width: 250px;
  position: absolute;
}

.form {
  display: none;
  padding: 1em;
  background-color: transparent;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  font-family: Fustat;
  z-index: 100;
  > p {
    color: blue;
    width: 70%;
    margin-bottom: 1em;
  }
  > textarea {
    margin-bottom: 1em;
    border: none;
    color: aliceblue;
    background-color: blue;
  }
  > button {
    width: 50%;
    align-self: flex-end;
    background: white;
    background-color: blue;
    border: none;
    padding: 1em;
    margin: 0;
    color: white;
  }
}

#parags {
  > .note {
    position: absolute;
    font-family: Fustat;
    display: inline-block;
    font-weight: 800;
    font-size: large;
    margin: 0;
    width: 200px;
    line-height: 1em;
  }
}

#bucket {
  position: absolute;
  right: 0;
  top: 0;
  background-color: black;
  width: 80px;
  height: 80px;
  color: white;
  font-family: Fustat;
  font-size: large;
}

.photo-cont {
  position: absolute;
  bottom: 0;
  right: -150px;
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 8px;
  background-color: gold;
  width: 150px;
  height: 300px;
  box-sizing: border-box;
  .photo-scroll {
    width: 100%;
    height: 100%;
    scrollbar-width: none;
    overflow-y: scroll;
    > .photo {
      width: 100px;
      height: 100px;
      margin-bottom: 8px;
      mix-blend-mode: color-burn;
      > img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.newphoto {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  height: 200px;
  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
